In [1]:
#import libraries

import pandas as pd
from pathlib import Path
%matplotlib inline

In [2]:
#Read csv files and set the date as the index

amazon_stock_data=Path("../Project-1-main/Project-1/AMZN.csv")
amazon_csv=pd.read_csv(amazon_stock_data,parse_dates=True, index_col='Date', infer_datetime_format=True)
covid_cases_data=Path("../Project-1-main/Project-1/us_states_covid19_daily.csv")
covid_cases_csv=pd.read_csv(covid_cases_data, parse_dates=True, index_col='date', infer_datetime_format=True)

In [3]:
#preview Amazon data
amazon_csv.head()

                Open      High       Low     Close  Adj Close    Volume
Date
1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200

In [4]:
#preview covid cases data
covid_cases_csv.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
date,,,,,,,,,,,,,,,,,,,,,
2020-12-06,AK,35720.0,NaN,1042056.0,NaN,totalTestsViral,1077776.0,164.0,799.0,NaN,...,1077776,0,0,7b1d31e2756687bb9259b29195f1db6cdb321ea6,0,0,0,0,0,NaN
2020-12-06,AL,269877.0,45962.0,1421126.0,NaN,totalTestsPeopleViral,1645041.0,1927.0,26331.0,NaN,...,1691003,12,0,19454ed8fe28fc0a7948fc0771b2f3c846c1c92e,0,0,0,0,0,NaN
2020-12-06,AR,170924.0,22753.0,1614979.0,NaN,totalTestsViral,1763150.0,1076.0,9401.0,374.0,...,1785903,40,21,25fc83bffff5b32ba1a737be8e087fad9f4fde33,0,0,0,0,0,NaN
2020-12-06,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,2140,0,0,8c39eec317586b0c34fc2903e6a3891ecb00469e,0,0,0,0,0,NaN
2020-12-06,AZ,364276.0,12590.0,2018813.0,NaN,totalTestsPeopleViral,2370499.0,2977.0,28248.0,714.0,...,2383089,25,242,7cf59da9e4bc31d905e179211313d08879880a85,0,0,0,0,0,NaN

In [7]:
# Use the `drop` function to drop specific columns
covid_cases_csv.drop(covid_cases_csv.iloc[:,5:38], inplace=True, axis=1)
covid_cases_csv.head()

           state  positive  probableCases   negative  pending
date
2020-12-06    AK   35720.0            NaN  1042056.0      NaN
2020-12-06    AL  269877.0        45962.0  1421126.0      NaN
2020-12-06    AR  170924.0        22753.0  1614979.0      NaN
2020-12-06    AS       0.0            NaN     2140.0      NaN
2020-12-06    AZ  364276.0        12590.0  2018813.0      NaN